@font-face {
  font-family: Montserrat-Alt-Black;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-black.otf');
}

@font-face {
  font-family: Montserrat-Alt-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-bold.otf');
}

@font-face {
  font-family: Montserrat-Alt-Ex-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-extra-bold.otf');
}

@font-face {
  font-family: Montserrat-Alt-Ex-Light;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-extra-light.otf');
}

@font-face {
  font-family: Montserrat-Alt-Light;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-light.otf');
}

@font-face {
  font-family: Montserrat-Alt-Medium;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-medium.otf');
}

@font-face {
  font-family: Montserrat-Alt-Regular;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-regular.otf');
}

@font-face {
  font-family: Montserrat-Alt-Semi-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-semi-bold.otf');
}

@font-face {
  font-family: Montserrat-Alt-Thin;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-alternates-thin.otf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-black.otf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-bold.otf');
}

@font-face {
  font-family: Montserrat-Ex-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-extra-bold.otf');
}

@font-face {
  font-family: Montserrat-Ex-Light;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-extra-light.otf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-light.otf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-medium.otf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-regular.otf');
}

@font-face {
  font-family: Montserrat-Semi-Bold;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-semi-bold.otf');
}

@font-face {
  font-family: Montserrat-Ehin;
  src: url('https://static.shieldex.io/assets/fonts/montserrat/montserrat-thin.otf');
}
