/build
build.zip
/report
.idea
.vscode
*.code-workspace
.eslintcache

/.jscpd
# production
/coverage/
# misc
*.log

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production
